<section ng-controller="raterCtrl">

	<div ng-hide="true" class="row text-center">
		<div class="col-sm-4">
			<p ng-show="stats.count_played < 1">Song not played before</p>
			<p ng-show="stats.count_played > 0">Played {{ stats.count_played }} times ({{ stats.played_at|date }})</p>
		</div>
		<div class="col-sm-4">
			<p ng-show="stats.count_rated < 1">Song not rated before</p>
			<p ng-show="stats.count_rated > 0">{{ stats.rating|perc }} rating ({{ stats.count_rated }} rated)</p>
		</div>
		<div class="col-sm-4">
			<p>{{ stats.priority|perc }} priority</p>
		</div>
	</div>

    <div ng-show="match" class="well clearfix">
        <div class="btn-group pull-right">
            <div ng-click="setMatch(1)" class="btn btn-success btn-sm"><i class="icon-ok"></i> Better</div>
            <div ng-click="setMatch(-1)" class="btn btn-danger btn-sm"><i class="icon-remove"></i> Worse</div>
        </div>
        <h4>
            <small class="text-muted">#{{ match.number }}<span ng-show="match.album">/{{ match.album.size }}</span></small>
            {{ match.name }}
        </h4>
        <h5 ng-show="match.artist">{{ match.artist.name }}</h5>
        <h5 ng-show="match.album">
            <small class="text-muted">[{{ match.album.year }}]</small>
            {{ match.album.name }}
        </h5>
	    <p><small class="text-muted">{{ match.path }}</small></p>
    </div>

</section>

