<section ng-controller="raterCtrl">

	<div ng-hide="true" class="row text-center">
		<div class="col-sm-4">
			<p ng-show="stats.count_played < 1">Song not played before</p>
			<p ng-show="stats.count_played > 0">Played {{ stats.count_played }} times ({{ stats.played_at|date }})</p>
		</div>
		<div class="col-sm-4">
			<p ng-show="stats.count_rated < 1">Song not rated before</p>
			<p ng-show="stats.count_rated > 0">{{ stats.rating|perc }} rating ({{ stats.count_rated }} rated)</p>
		</div>
		<div class="col-sm-4">
			<p>{{ stats.priority|perc }} priority</p>
		</div>
	</div>

	<div ng-show="match" class="btn-group btn-group-justified">
		<a class="btn btn-default" ng-click="setMatch(-1)" role="button" ng-mouseenter="hover.left = true;" ng-mouseleave="hover.left = false;">
			<i class="fa fa-thumbs-o-up fa-5x pull-left" ng-class="{'fa-rotate-90': !hover.left && !hover.right, 'fa-flip-vertical': hover.right}"></i>
			<h5 class="list-group-item-heading"><strong>{{ song.name }}</strong></h5>
			<p class="list-group-item-text"><small ng-if="song.artist">{{ song.artist.name }}</small>&nbsp;</p>
			<p class="list-group-item-text"><small ng-if="song.album" class="">{{ song.album.name }}</small>&nbsp;</p>
		</a>
		<a class="btn btn-default" ng-click="setMatch(1)" role="button" ng-mouseenter="hover.right = true;" ng-mouseleave="hover.right = false;">
			<i class="fa fa-thumbs-o-up fa-5x pull-right" ng-class="{'fa-rotate-270': !hover.left && !hover.right, 'fa-flip-vertical': hover.left}"></i>
			<h5 class="list-group-item-heading"><strong>{{ match.name }}</strong></h5>
			<p class="list-group-item-text"><small ng-if="match.artist">{{ match.artist.name }}</small>&nbsp;</p>
			<p class="list-group-item-text"><small ng-if="match.album" class="">{{ match.album.name }}</small>&nbsp;</p>
		</a>
	</div>
	<br>

</section>

