<form ng-switch-when="album" role="form" name="form" novalidate>

	<div class="form-group" ng-class="{'has-success': form.fNameAlbum.$valid, 'has-error': form.fNameAlbum.$invalid && form.fNameAlbum.$dirty}">
		<label for="nameAlbum" class="control-label">Album name</label>
		<div class="input-group">
			<input type="text" ng-model="edit.album.name" name="fNameAlbum" ng-required="true" class="form-control" id="nameAlbum" placeholder="Album name" autocomplete="off" autofocus />
			<span class="input-group-addon"><i ng-class="{'icon-ok': form.fNameAlbum.$valid, 'icon-remove': !form.fNameAlbum.$valid && form.fNameAlbum.$dirty}"></i> </span>
		</div>
		<span class="help-block">
			<span ng-show="form.fNameAlbum.$error.required && form.fNameAlbum.$dirty">Album name is required!</span>
		</span>
	</div>

	<div ng-show="edit.album.id > 0" class="form-group" ng-class="{'has-success': form.fCreateAlbum.$valid, 'has-error': form.fCreateAlbum.$invalid && form.fCreateAlbum.$dirty}">
		<div class="checkbox">
			<label for="createAlbum" class="control-label">
				<input type="checkbox" ng-model="edit.album.create" name="fCreateAlbum" ng-required="false" id="createAlbum">
				Do not rename current album (find by name or create new)
			</label>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-success': form.fSizeAlbum.$valid, 'has-error': form.fSizeAlbum.$invalid && form.fSizeAlbum.$dirty}">
		<label for="sizeAlbum" class="control-label">Album size</label>
		<div class="input-group">
			<input type="number" ng-model="edit.album.size" name="fSizeAlbum" ng-required="false" min="0" class="form-control" id="sizeAlbum" placeholder="Album size" autocomplete="off" autofocus />
			<span class="input-group-addon"><i ng-class="{'icon-ok': form.fSizeAlbum.$valid, 'icon-remove': !form.fSizeAlbum.$valid && form.fSizeAlbum.$dirty}"></i> </span>
		</div>
		<span class="help-block">
			<span ng-show="form.fSizeAlbum.$error.min && form.fSizeAlbum.$dirty">Album size must be more than 0!</span>
		</span>
	</div>

	<div class="form-group" ng-class="{'has-success': form.fYearAlbum.$valid, 'has-error': form.fYearAlbum.$invalid && form.fYearAlbum.$dirty}">
		<label for="yearAlbum" class="control-label">Album year</label>
		<div class="input-group">
			<input type="text" ng-model="edit.album.year" name="fYearAlbum" ng-required="false" class="form-control" id="yearAlbum" placeholder="Album year" autocomplete="off" autofocus />
			<span class="input-group-addon"><i ng-class="{'icon-ok': form.fYearAlbum.$valid, 'icon-remove': !form.fYearAlbum.$valid && form.fYearAlbum.$dirty}"></i> </span>
		</div>
		<span class="help-block">
			<span ng-show="form.fYearAlbum.$error.required && form.fYearAlbum.$dirty">Album year is required!</span>
		</span>
	</div>

	<div class="form-group">
		<button ng-click="saveAlbum('display')" type="submit" class="btn btn-success" ng-disabled="form.$invalid || form.$pristine">Save</button>
		<a ng-click="editInfo('artist')" class="btn btn-info">Back</a>
		<a ng-click="editInfo('display');" class="btn btn-danger">Cancel</a>
	</div>

</form>
