<div ng-controller="infoCtrl" ng-switch="edit.switch">
	<div ng-switch-when="display">
		<h3 ng-dblclick="editInfo('song')">
		    <small class="text-muted">#{{ song.number }}<span ng-show="song.album">/{{ song.album.size }}</span></small>
		    {{ song.name }}
			<span ng-if="song.name.length < 1">&lt;NO NAME&gt;</span>
		</h3>
		<h4 ng-dblclick="editInfo('artist')">
			<span ng-if="song.artist">{{ song.artist.name }}</span>
			<span ng-if="!song.artist">&lt;NO ARTIST&gt;</span>
		</h4>
		<h5 ng-show="song.album">
		    <small class="text-muted">[{{ song.album.year }}]</small>
		    {{ song.album.name }}
		</h5>
	</div>

	<ng-include src="getIncludeSrc('/bundles/main/player/player_info_song.html')"></ng-include>
	<ng-include src="getIncludeSrc('/bundles/main/player/player_info_artist.html')"></ng-include>

</div>
