<div ng-controller="infoCtrl" ng-switch="edit.switch">
	<div ng-switch-when="display">
		<h4 ng-dblclick="editInfo('song')">
		    {{ song.name }}
			<span ng-if="song.name.length < 1">&lt;NO NAME&gt;</span>
		    <small class="text-muted">{{ song.number }}<span ng-show="song.album.size">/{{ song.album.size }}</span></small>
		</h4>
		<h5 ng-dblclick="editInfo('artist')">
			<span ng-if="song.artist">{{ song.artist.name }}</span>
			<span ng-if="!song.artist">&lt;NO ARTIST&gt;</span>
		</h5>
		<h5 ng-dblclick="editInfo('album')">
		    <span ng-if="song.album">{{ song.album.name }}</span>
		    <span ng-if="!song.album">&lt;NO ALBUM&gt;</span>
		    <small class="text-muted">{{ song.album.year }}</small>
		</h5>
	</div>

	<ng-include src="getIncludeSrc('/bundles/main/player/player_info_song.html')"></ng-include>
	<ng-include src="getIncludeSrc('/bundles/main/player/player_info_artist.html')"></ng-include>
	<ng-include src="getIncludeSrc('/bundles/main/player/player_info_album.html')"></ng-include>

</div>
