<form ng-switch-when="artist" role="form" name="form" novalidate>

	<div class="form-group" ng-class="{'has-success': form.fNameArtist.$valid, 'has-error': form.fNameArtist.$invalid && form.fNameArtist.$dirty}">
		<label for="nameArtist" class="control-label">Artist name</label>
		<div class="input-group">
			<input type="text" ng-model="edit.artist.name" name="fNameArtist" ng-required="true" class="form-control" id="nameArtist" placeholder="Artist name" autocomplete="off" autofocus />
			<span class="input-group-addon"><i ng-class="{'icon-ok': form.fNameArtist.$valid, 'icon-remove': !form.fNameArtist.$valid && form.fNameArtist.$dirty}"></i> </span>
		</div>
		<span class="help-block">
			<span ng-show="form.fNameArtist.$error.required && form.fNameArtist.$dirty">Artist name is required!</span>
		</span>
	</div>
	<div class="list-group">
		<a ng-click="populateArtist(artist, form);" ng-repeat="artist in artists | filter:edit.artist.name | orderBy:'count_played':true | limitTo:6" class="list-group-item" href="">{{ artist.name }}</a>
	</div>

	<div ng-show="edit.artist.id > 0" class="form-group" ng-class="{'has-success': form.fCreateArtist.$valid, 'has-error': form.fCreateArtist.$invalid && form.fCreateArtist.$dirty}">
		<div class="checkbox">
			<label for="createArtist" class="control-label">
				<input type="checkbox" ng-model="edit.artist.create" name="fCreateArtist" ng-required="false" id="createArtist">
				Do not rename current artist (find by name or create new)
			</label>
		</div>
	</div>

	<div class="form-group">
		<button ng-click="saveArtist('display')" type="submit" class="btn btn-success" ng-disabled="form.$invalid || form.$pristine">Save</button>
		<button ng-click="saveArtist('album')" ng-show="form.$dirty" type="submit" class="btn btn-success" ng-disabled="form.$invalid">Save and next</button>
		<button ng-click="editInfo('album')" ng-show="form.$pristine" type="submit" class="btn btn-success" ng-disabled="form.$invalid">Save and next</button>
		<a ng-click="editInfo('song')" class="btn btn-info">Back</a>
		<a ng-click="editInfo('display');" class="btn btn-danger">Cancel</a>
	</div>

</form>
