<div class="row">

	<div class="col-sm-4 playside" ng-controller="playerCtrl as controller">
		<div class="row">
			<audio id="audio" ng-src="{{controller.playlist.current}}" controls onended="controller.onEnded()"></audio>
		</div>
		<h4>{{ controller.playlist.current }}</h4>

		<div class="row" ng-if="controller.playlist.selection.length">
			<h4>Select next song for the playlist:</h4>
			<div class="btn-group-vertical btn-block" role="group">
				<button ng-click="controller.selectSong(song)" ng-repeat="song in controller.playlist.selection[0]" type="button" class="btn btn-default">{{ song.path_name }}</button>
			</div>
		</div>

		<div class="row" ng-if="controller.playlist.queue.length">
			<h4>Playlist</h4>
			<ol>
				<li ng-repeat="queue in controller.playlist.queue">{{ queue.src }}</li>
			</ol>
		</div>
	</div>

	<div class="col-sm-8 libside" ng-controller="libraryCtrl as controller">
		<h4>
			<button class="btn btn-default btn-sm pull-right" ng-click="controller.refreshLibrary()">Refresh</button>
			Library
		</h4>
		<ol>
			<li ng-repeat="file in controller.lib.files">{{ file.path_name }}</li>
		</ol>
	</div>
</div>