#play-side li {
  line-height: 1em;
  margin-bottom: 0.6em;
}
#play-side .audio_next {
  background: #5c595a none repeat scroll 0 0;
  color: #999;
  display: inline-block;
  font-size: 0.9em;
  margin-top: 1.1em;
  padding: 0.4em 0.6em;
  vertical-align: top;
  text-decoration: none;
}
#play-side .audio_next:hover {
  background: #5f5f5f;
}
#play-side .current_song {
  font-size: 1.4em;
}
#play-side audio {
  margin-top: 1em;
}
#play-side a.btn {
  overflow: hidden;
}
