<section id="playList" ng-controller="sidebarCtrl">
	<h3><span class="label pull-right" ng-class="{'label-danger': playList.length <= 3, 'label-warning': playList.length <= 6, 'label-success': playList.length > 6}">{{ playList.length }}</span> Playlist</h3>
	<div class="list-group">
		<a ng-repeat="song in playList" class="list-group-item" ng-class="{'active': $first}">
			<h5 class="list-group-item-heading"><strong>{{ song.name }}</strong></h5>
			<p ng-if="song.artist" class="list-group-item-text"><small>{{ song.artist.name }}</small></p>
			<p ng-if="song.album" class="list-group-item-text text-muted"><small>{{ song.album.name }}</small></p>
		</a>
	</div>
</section>
