<!DOCTYPE html>
<html>
<head>
    <title>speler</title>

    {% block css %}
        <link href="/static/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="/static/vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/static/vendor/react-data-grid/themes/react-data-grid.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="/static/css/playside.css" rel="stylesheet">
        <link href="/static/css/libside.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
	<div class="container">
		<div class="row">
			<div id="play-side" class="col-sm-5"></div>
			<div id="lib-side" class="col-sm-7"></div>
		</div>
	</div>

	{% block js %}
	    <script src="/static/vendor/react/react.js" type="text/javascript"></script>
	    <script src="/static/vendor/react/JSXTransformer.js" type="text/javascript"></script>

	    <script src="/static/vendor/jquery/dist/jquery.js" type="text/javascript"></script>
	    <script src="/static/vendor/react-bootstrap/react-bootstrap.js" type="text/javascript"></script>

	    <script src="/static/vendor/react-data-grid/dist/react-data-grid-with-addons.js" type="text/javascript"></script>

        <script src="/static/js/src/play-side.js" type="text/jsx"></script>
        <script src="/static/js/src/lib-side.js" type="text/jsx"></script>
	{% endblock %}

</body>
</html>